{% extends 'base.html' %}

{% block title %}
Reset Password
{% endblock title %}

{% block content %}
<div class="resetpassword-page ">
    <div class="container bg-white py-3 px-4 my-5 form" data-aos="zoom-in">
        <h2 class="mb-2">Reset <span class="text-warning">Password</span></h2>
        <hr>
        <div class="mb-3">{% include 'message.html' %}</div>
        <form method="post">
            {% csrf_token %}
    
            {% if OTP_Status == 'generated' %}
            <div class="mb-3">
                <input type="hidden" name="userid" value="{{user_id}}">
                <label for="exampleInputEmail1" class="form-label"><b>OTP</b></label>
                <input type="password" placeholder="Enter OTP" name="otp" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-success form-btn mt-3">Verify</button>

            {% elif OTP_Status == 'verified' %}
            <!-- When OTP verified -->
            <div class="mb-3">
                <input type="hidden" name="userid" value="{{user_id}}">
                <label for="exampleInputEmail1" class="form-label"><b>New Password</b></label>
                <input type="password" placeholder="Enter New Password" name="newpassword" minlength="6" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"><b>Confirm Password</b></label>
                <input type="password" placeholder="Confirm Password" name="confirmpassword" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-success form-btn mt-3">Reset Password</button>

            {% else %}
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"><b>Email address</b></label>
                <input type="email" placeholder="Enter your Email" name="emailid" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-success form-btn mt-3">Send OTP</button>
            {% endif %}
        </form>

    </div>
</div>
{% endblock content %}